<div class="Price">
  <label>Price</label>
  <ul>
    <li><input type="checkbox"> $</li>
    <li><input type="checkbox"> $$</li>
    <li><input type="checkbox"> $$$</li>
  </ul>
</div>

<div class="Distance">
  <label>Distance</label>
  <ul>
    <li><input type="checkbox"> Around 5 miles</li>
    <li><input type="checkbox"> Around 10 miles </li>
    <li><input type="checkbox"> Around 20 miles</li>
  </ul>
</div>

<div id= "Submit">
<input type="submit" value="Submit">
</div>

<div id="Image_1">

  <img src="/assets/barlouielogo.PNG" style = "width:100%"/>

  <div class = "BarLouie"><button routerLink="/bar-louie-page">{{example1}}</button>
  </div>
  <div class = "comment" ><textarea rows = "4" cols = "50">{{comment1}}</textarea></div>

  
</div>

