<div *ngIf="error || (dish && dish.error)">
  Dish not found
  <button (click)="add()">Add</button>
</div>
<div *ngIf="!error && !dish.error">
  <h1>{{dish.name}}</h1>
  <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile [rowspan]="3">
        <div id="display" [ngStyle]="{ 'background-image': (dish.images == 0 ? getUrl(currentImage) : getUrl(currentImage-1)) }">
        </div>
      </mat-grid-tile>
      <mat-grid-tile [rowspan]="2" id="gallery" *ngIf="dish.images > 1">
        <div *ngFor="let a of createRange(dish.images); let index = index" >
          <div (click)="changeImage(index+1)" class="image mat-elevation-z4"
            matRipple [ngStyle]="{ 'background-image': getUrl(index) }"> 
          </div>
        </div>
      </mat-grid-tile>
      <mat-grid-tile >
          <button type="submit" mat-raised-button *ngIf="dish.images >= 1 && userService.user" (click)="uploader()">Upload an Image</button>
          <button type="submit" mat-raised-button *ngIf="dish.images < 1 && userService.user" (click)="uploader()">Be the first to upload an image!</button>
      </mat-grid-tile>
      <mat-grid-tile>
          <button type="submit" mat-raised-button *ngIf="dish.images >= 1 && userService.user" (click)="removeImage()">Remove an Image</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card *ngIf="dish.rating">
          <mat-icon *ngFor="let i of createRange(dish.rating);">star</mat-icon>
        </mat-card>
        <mat-card *ngIf="!dish.rating" style="color: grey;">
          No ratings available
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [rowspan]="4" [colspan]="1">
        <app-nutritional-facts [dish]="dish"></app-nutritional-facts>
      </mat-grid-tile>
      <mat-grid-tile [rowspan]="2" [colspan]="2">
          <mat-card id="description">
            {{dish.description}}
          </mat-card>
      </mat-grid-tile>
      <mat-grid-tile [rowspan]="2" [colspan]="2">
        <button type="submit" mat-raised-button *ngIf="userService.user" (click)="review()">Review this Dish</button>
      </mat-grid-tile>



<!--ALonso part-->
      <div *ngFor="let review of reviews" >
        <mat-grid-tile [colspan]="2" id="reviews">
          
            
            <b style="margin-right:10px;">{{review.username}}</b>
            <p>{{review.comment}}</p>

            <mat-card *ngIf="dish.rating" style="margin-left: 10px;">
                <mat-icon *ngFor="let i of createRange(review.rating);">star</mat-icon>
              </mat-card>

        </mat-grid-tile>
      </div>

<!--up to here-->
  </mat-grid-list>
</div>



