<h1>{{restaurant.name}}</h1>
<p>{{restaurant.description}}</p>
<img src="/api/images/restaurant/{{restaurant.id}}">
<div *ngIf="userService.user && restaurant.id == userService.user.restaurant">
  <mat-card id="admin">
    <h3>Owner Tools</h3>
    <button type="submit" mat-raised-button (click)="uploader()">Change Image</button>
    <button type="submit" mat-raised-button (click)="addDishes()">Add Dish</button>
  </mat-card>
</div>

<div *ngFor="let dish of organizedDishes" routerLink="/dish/{{dish.id}}">
  <div class="dish mat-elevation-z4"
       matRipple matTooltip="{{dish.rating}} " [ngStyle]="{ 'background-image': 'url(/api/images/dish/' + dish.id + '/1)' }">
  </div>
</div>


<p>
  <mat-form-field>
    <input type="text" [(ngModel)]="search" name="dish" ngModel matInput placeholder="Search for Dishes" />
  </mat-form-field>
</p>
<div *ngFor="let category of categories">
  <mat-card class="category" *ngIf="containsSearchTerms(category.dishes).length > 0">
    <mat-card-header>
      <mat-card-title>{{category.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let dish of containsSearchTerms(category.dishes)" routerLink="/dish/{{dish.id}}">
        <div class="dish mat-elevation-z4"
             matRipple matTooltip="{{dish.name}}" [ngStyle]="{ 'background-image': 'url(/api/images/dish/' + dish.id + '/1)' }">
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>


