@import "~@angular/material/prebuilt-themes/indigo-pink.css";

#main {
  width: 60%;
  border: 3px solid #73AD21;
  border-radius: 10px;
  padding: 10px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}
