#result-count {
    color: rgb(156, 143, 143);
    text-align: left;
}

#page-nav {
  text-align: right;
}

@media all and (max-width: 699px) {
  #result-count {
    text-align: center;
  }

  #page-nav {
    text-align: center;
  }
}
